@import url(https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.5;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 4.8rem;
  letter-spacing: -1px;
}
.display-1 > .mbr-iconfont {
  font-size: 7.68rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.84rem;
    font-size: calc( 2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  margin: .4rem .8rem;
  border-radius: 0px!important;
  justify-content: space-between;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  word-break: break-word;
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  order: 2;
  transition: all 0.6s;
}
.btn:hover .mbr-iconfont {
  margin-right: -0.6rem;
}
form .btn .mbr-iconfont {
  margin-right: 0;
}
.btn-sm {
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  padding: 1.6rem 2rem!important;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #ffda00 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #767676 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #40c0ec !important;
  border-color: #40c0ec !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #40c0ec !important;
  border-color: #40c0ec !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff809f !important;
  border-color: #ff809f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff809f !important;
  border-color: #ff809f !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #a69e96 !important;
  border-color: #a69e96 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a69e96 !important;
  border-color: #a69e96 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #ffe54d !important;
  border-color: #ffe54d !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #ffe54d !important;
  border-color: #ffe54d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9c9c9c !important;
  border-color: #9c9c9c !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9c9c9c !important;
  border-color: #9c9c9c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ccc3a5 !important;
  border-color: #ccc3a5 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ccc3a5 !important;
  border-color: #ccc3a5 !important;
}
.btn-white {
  color: #222222 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #998300;
  color: #998300;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #ffda00;
  border-color: #ffda00;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #ffda00 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #767676 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #57c8ef !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ff99b3 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ffe966 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a9a9a9 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #000000 !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #767676;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #149dcc;
}
.cid-rzBi6tK7W9 .navbar {
  background: #efeeee;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rzBi6tK7W9 .navbar-dropdown.bg-color.transparent.opened {
  background: #efeeee;
}
.cid-rzBi6tK7W9 a {
  font-style: normal;
}
.cid-rzBi6tK7W9 .show {
  overflow: visible;
}
.cid-rzBi6tK7W9 .dropdown-menu {
  max-height: 400px;
  overflow: auto;
}
.cid-rzBi6tK7W9 .dropdown-item:active {
  background-color: transparent;
}
.cid-rzBi6tK7W9 .nav-link {
  font-weight: 600!important;
}
.cid-rzBi6tK7W9 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rzBi6tK7W9 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 2rem !important;
  -webkit-align-items: center;
}
.cid-rzBi6tK7W9 .nav-item:focus,
.cid-rzBi6tK7W9 .nav-link:focus {
  outline: none;
}
.cid-rzBi6tK7W9 .btn {
  padding: 0.7rem 2rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rzBi6tK7W9 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rzBi6tK7W9 .menu-logo {
  margin-right: auto;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  font-weight: 600!important;
  padding-right: 2rem;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rzBi6tK7W9 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rzBi6tK7W9 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  padding-right: 1rem;
  max-width: 100%;
  width: 100%;
}
.cid-rzBi6tK7W9 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rzBi6tK7W9 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzBi6tK7W9 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rzBi6tK7W9 .dropdown .dropdown-menu {
  background: #efeeee;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rzBi6tK7W9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  color: #333333 !important;
  padding: 0.2em 1em 0.2em 1em !important;
}
.cid-rzBi6tK7W9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rzBi6tK7W9 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rzBi6tK7W9 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzBi6tK7W9 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rzBi6tK7W9 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rzBi6tK7W9 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rzBi6tK7W9 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rzBi6tK7W9 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rzBi6tK7W9 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rzBi6tK7W9 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rzBi6tK7W9 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rzBi6tK7W9 button.navbar-toggler:focus {
  outline: none;
}
.cid-rzBi6tK7W9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rzBi6tK7W9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzBi6tK7W9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzBi6tK7W9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzBi6tK7W9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzBi6tK7W9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzBi6tK7W9 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzBi6tK7W9 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzBi6tK7W9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzBi6tK7W9 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rzBi6tK7W9 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show {
  display: block !important;
  overflow: auto;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rzBi6tK7W9 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rzBi6tK7W9 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 94.375vh;
  }
}
.cid-rzBi6tK7W9 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rzBi6tK7W9 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rzBi6tK7W9 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rzBi6tK7W9 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rzBi6tK7W9 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rzBi6tK7W9 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rzBi6tK7W9 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rzBi6tK7W9.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rzBi6tK7W9 img {
    height: 3.8rem !important;
  }
  .cid-rzBi6tK7W9 .btn {
    display: -webkit-flex;
  }
  .cid-rzBi6tK7W9 button.navbar-toggler {
    display: block;
  }
  .cid-rzBi6tK7W9 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rzBi6tK7W9 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rzBi6tK7W9 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing,
  .cid-rzBi6tK7W9 .navbar-collapse.show {
    display: block !important;
    overflow: auto;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing .navbar-nav,
  .cid-rzBi6tK7W9 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rzBi6tK7W9 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rzBi6tK7W9 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rzBi6tK7W9 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rzBi6tK7W9 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rzBi6tK7W9 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rzBi6tK7W9 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rzBi6tK7W9 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rzBi6tK7W9 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rzBi6tK7W9 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-rzBi6tK7W9 .nav-link {
    justify-content: start!important;
  }
  .cid-rzBi6tK7W9 .navbar.opened {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cid-rzBi6tK7W9 .navbar-toggleable-sm {
    width: 100%!important;
  }
  .cid-rzBi6tK7W9 .dropdown-menu {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    background: #efefef !important;
  }
}
@media (min-width: 767px) {
  .cid-rzBi6tK7W9 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rzBi6tK7W9 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rzBi6tK7W9 .nav-link:hover,
.cid-rzBi6tK7W9 .dropdown-item:hover {
  color: #333333 !important;
}
@media (min-width: 1500px) {
  .cid-rzBi6tK7W9 .navbar-toggleable-sm .navbar-collapse {
    max-width: 60%!important;
    padding-right: 5rem;
  }
  .cid-rzBi6tK7W9 .menu-logo .navbar-brand {
    margin-left: 5rem;
  }
}
.cid-rzBi8j2CT1 {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #efeeee;
}
.cid-rzBi8j2CT1 .back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: #ffda00;
}
.cid-rzBi8j2CT1 img {
  width: 100%;
}
.cid-rzBi8j2CT1 p {
  margin-top: 6rem;
}
.cid-rzBi8j2CT1 .content-wrapper {
  max-width: 750px;
  margin: auto;
  position: relative;
  padding: 0 2rem;
}
.cid-rzBi8j2CT1 .content-wrapper {
  padding-top: 6rem;
}
.cid-rzBi8j2CT1 h4 {
  position: absolute;
  transform: rotate(-270deg);
  transform-origin: bottom right;
  width: fit-content;
  padding: 0;
  margin: 0;
  right: 6rem;
  bottom: 0;
}
@media (max-width: 1200px) {
  .cid-rzBi8j2CT1 .content-wrapper {
    padding-top: 0rem;
  }
  .cid-rzBi8j2CT1 p {
    margin-top: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-rzBi8j2CT1 .back {
    width: 100%;
    height: 75%;
  }
  .cid-rzBi8j2CT1 .content-wrapper {
    padding: 0 3rem;
    padding-top: 4rem;
  }
  .cid-rzBi8j2CT1 p {
    margin-top: 4rem;
  }
}
.cid-rzBi8j2CT1 .content-wrapper {
  padding-right: 8rem;
}
@media (max-width: 767px) {
  .cid-rzBi8j2CT1 .content-wrapper {
    padding: 0rem;
    padding-top: 4rem;
  }
  .cid-rzBi8j2CT1 .content-wrapper {
    padding-right: 3rem;
  }
  .cid-rzBi8j2CT1 h4 {
    right: 2rem;
  }
}
.cid-rzBicS9v9u {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzBicS9v9u .row {
  position: relative;
}
.cid-rzBicS9v9u .container {
  max-width: 1500px;
}
.cid-rzBicS9v9u .container {
  padding-right: 8rem!important;
}
.cid-rzBicS9v9u h4 {
  position: absolute;
  transform: rotate(-270deg);
  transform-origin: bottom right;
  width: fit-content;
  padding: 0;
  margin: 0;
  right: 0rem;
  bottom: 25%;
}
.cid-rzBicS9v9u .content-wrapper {
  max-width: 800px;
}
@media (min-width: 767px) {
  .cid-rzBicS9v9u .container {
    padding: 0 4rem;
  }
}
@media (max-width: 767px) {
  .cid-rzBicS9v9u .container {
    padding-right: 4rem!important;
  }
}
.cid-rzBiet3dHs {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.cid-rzBiet3dHs .content-block {
  max-width: 350px;
  padding: 4rem 3rem;
  z-index: 5;
  position: relative;
}
.cid-rzBiet3dHs .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/02.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.cid-rzBiet3dHs .block2 {
  background-image: url("../../../assets/images/06.jpg");
}
.cid-rzBiet3dHs .block2:hover .block2-over {
  opacity: 0;
}
.cid-rzBiet3dHs .block1 {
  background-image: url("../../../assets/images/05.jpg");
}
.cid-rzBiet3dHs .block1:hover .block1-over {
  opacity: 0;
}
.cid-rzBiet3dHs .block1-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #c1c1c1;
  opactiy: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.cid-rzBiet3dHs .block2-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #ffda00;
  opactiy: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.cid-rzBiet3dHs .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #333333;
  z-index: 2;
  opacity: 1;
}
.cid-rzBiet3dHs .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
.cid-rzBiet3dHs .col {
  padding: 0;
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.cid-rzBiet3dHs .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.cid-rzBiet3dHs .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.cid-rzBiet3dHs .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.cid-rzBiet3dHs .col:hover .box-title2,
.cid-rzBiet3dHs .col:hover .box-text2 {
  color: #333333;
  transition-delay: 0.3s;
}
.cid-rzBiet3dHs .box-title2,
.cid-rzBiet3dHs .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.cid-rzBiet3dHs .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #333333;
}
.cid-rzBiet3dHs .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
.cid-rzBiet3dHs .content2 {
  z-index: 2;
  max-width: 450px;
  margin-bottom: -1rem;
  position: relative;
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0s;
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-rzBiet3dHs .img-content {
    opacity: 1;
  }
  .cid-rzBiet3dHs .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .cid-rzBiet3dHs .box-content {
    width: 100%;
  }
  .cid-rzBiet3dHs .box-title2,
  .cid-rzBiet3dHs .box-text2 {
    color: #333333 !important;
  }
  .cid-rzBiet3dHs .content-block,
  .cid-rzBiet3dHs .content1 {
    padding: 3rem 1rem;
  }
}
.cid-rzBiet3dHs .box-text1 {
  color: #333333;
}
.cid-rzBiet3dHs .box-title2 {
  color: #cccccc;
}
.cid-rzBiet3dHs .block1-text,
.cid-rzBiet3dHs .mbr-section-btn {
  color: #333333;
}
.cid-rzBiet3dHs .block2-text,
.cid-rzBiet3dHs .mbr-section-btn {
  color: #333333;
}
.cid-rzBiet3dHs .block2-title {
  color: #333333;
}
.cid-rzBijlrsFd {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2a2a2a;
}
.cid-rzBijlrsFd .card-wrapper {
  position: relative;
  margin: 0.5rem;
}
.cid-rzBijlrsFd .card-wrapper:hover img {
  transform: scale(1.1);
}
@media (min-width: 767px) {
  .cid-rzBijlrsFd .row {
    padding: 0 4rem;
  }
}
@media (max-width: 1400px) {
  .cid-rzBijlrsFd .card-wrapper {
    margin: 0rem;
  }
}
.cid-rzBijlrsFd .card {
  height: fit-content;
}
.cid-rzBijlrsFd .number {
  border-top: 2px solid currentColor;
  padding-top: 0.4rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: fit-content;
}
.cid-rzBijlrsFd .text-wrap {
  max-width: 400px;
}
.cid-rzBijlrsFd .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  transition: 0.3s;
  background: #ffda00;
}
.cid-rzBijlrsFd .icon:hover {
  padding-right: 1rem;
  padding-left: 2rem;
}
.cid-rzBijlrsFd .card-box {
  background-color: #333333;
  padding: 4rem 4rem 6rem 4rem;
  width: 100%;
}
.cid-rzBijlrsFd img {
  width: 100%;
  transition: 5s;
  object-fit: cover;
}
.cid-rzBijlrsFd .img-wrap {
  max-height: 250px;
  overflow: hidden;
}
.cid-rzBijlrsFd .container {
  max-width: 1500px;
}
.cid-rzBijlrsFd .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rzBijlrsFd .mbr-iconfont {
  font-size: 1.3rem;
  color: #333333;
  display: flex;
  justify-content: center;
}
.cid-rzBijlrsFd P {
  color: #c1c1c1;
}
@media (max-width: 1200px) {
  .cid-rzBijlrsFd .img-wrap {
    max-height: 230px;
  }
  .cid-rzBijlrsFd .text-wrap {
    padding: 0rem;
  }
}
@media (max-width: 992px) {
  .cid-rzBijlrsFd .card-box {
    margin: 0rem;
    padding: 2rem 2rem 6rem 2rem;
  }
  .cid-rzBijlrsFd .text-wrap {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .cid-rzBijlrsFd .card-box {
    padding: 2rem 1rem 5rem 1rem;
  }
  .cid-rzBijlrsFd .number {
    margin: auto;
  }
}
.cid-rzBijlrsFd .mbr-text {
  color: #cccccc;
}
.cid-rzBiOolXvo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efeeee;
}
.cid-rzBiOolXvo .container {
  max-width: 1500px;
}
.cid-rzBiOolXvo img {
  width: 100%;
  transition: 5s;
  object-fit: cover;
  margin: auto;
}
.cid-rzBiOolXvo img:hover {
  transform: scale(1.1);
}
.cid-rzBiOolXvo .row {
  background: #ffffff;
}
.cid-rzBiOolXvo .img-col {
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  position: relative;
  max-height: 540px;
  margin-bottom: 4rem;
}
.cid-rzBiOolXvo h2 {
  padding: 0;
  margin: 0;
}
.cid-rzBiOolXvo .title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-rzBiOolXvo .text-col {
  max-width: 700px;
  margin: auto;
  padding: 0 4rem 4rem 4rem;
}
.cid-rzBiOolXvo .mbr-section-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.cid-rzBiOolXvo .mbr-section-btn .btn {
  margin: 0rem!important;
  min-width: 400px;
}
.cid-rzBiOolXvo .number {
  border-top: 2px solid currentColor;
  padding-top: 0.4rem;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
@media (max-width: 1200px) {
  .cid-rzBiOolXvo .row {
    margin: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-rzBiOolXvo .text-col {
    padding: 4rem 4rem;
  }
}
@media (max-width: 767px) {
  .cid-rzBiOolXvo .btn {
    min-width: 200px!important;
    padding: 0.6rem 0.8rem!important;
  }
  .cid-rzBiOolXvo .row {
    margin: 0rem;
  }
  .cid-rzBiOolXvo .text-col {
    padding: 2rem 1rem;
  }
  .cid-rzBiOolXvo .number {
    margin-right: 2rem;
  }
  .cid-rzBiOolXvo .img-col {
    margin-bottom: 3rem;
  }
}
.cid-rzBiOolXvo H2 {
  color: #333333;
}
.cid-rzBiOolXvo .mbr-text {
  color: #767676;
}
.cid-rzBipfo0B6 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffda00;
}
.cid-rzBipfo0B6 .carousel-control {
  background: #000;
}
.cid-rzBipfo0B6 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzBipfo0B6 .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rzBipfo0B6 .carousel-item .wrap-img {
  text-align: center;
}
.cid-rzBipfo0B6 .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rzBipfo0B6 .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzBipfo0B6 .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rzBipfo0B6 .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rzBipfo0B6 .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rzBipfo0B6 .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rzBipfo0B6 .cloneditem-1,
.cid-rzBipfo0B6 .cloneditem-2,
.cid-rzBipfo0B6 .cloneditem-3,
.cid-rzBipfo0B6 .cloneditem-4,
.cid-rzBipfo0B6 .cloneditem-5 {
  display: none;
}
.cid-rzBipfo0B6 .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rzBipfo0B6 .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides2 .cloneditem-1,
  .cid-rzBipfo0B6 .carousel-inner.slides2 .cloneditem-2,
  .cid-rzBipfo0B6 .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides3 .cloneditem-1,
  .cid-rzBipfo0B6 .carousel-inner.slides3 .cloneditem-2,
  .cid-rzBipfo0B6 .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides4 .cloneditem-1,
  .cid-rzBipfo0B6 .carousel-inner.slides4 .cloneditem-2,
  .cid-rzBipfo0B6 .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides5 .cloneditem-1,
  .cid-rzBipfo0B6 .carousel-inner.slides5 .cloneditem-2,
  .cid-rzBipfo0B6 .carousel-inner.slides5 .cloneditem-3,
  .cid-rzBipfo0B6 .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rzBipfo0B6 .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rzBipfo0B6 .carousel-inner.slides6 .cloneditem-1,
  .cid-rzBipfo0B6 .carousel-inner.slides6 .cloneditem-2,
  .cid-rzBipfo0B6 .carousel-inner.slides6 .cloneditem-3,
  .cid-rzBipfo0B6 .carousel-inner.slides6 .cloneditem-4,
  .cid-rzBipfo0B6 .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rzBiyjNprc {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-rzBiyjNprc .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rzBiyjNprc input,
.cid-rzBiyjNprc textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  min-height: 3rem;
  padding: 0rem!important;
  font-size: 1rem;
}
.cid-rzBiyjNprc input:focus,
.cid-rzBiyjNprc textarea:focus {
  border-left: none;
  border-top: none;
  border-right: none;
}
.cid-rzBiyjNprc .form-control,
.cid-rzBiyjNprc .field-input {
  padding: 0.5rem;
  background-color: #333333;
  border-color: #cccccc;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rzBiyjNprc .form-control:hover,
.cid-rzBiyjNprc .field-input:hover,
.cid-rzBiyjNprc .form-control:focus,
.cid-rzBiyjNprc .field-input:focus {
  background-color: #333333;
  border-color: #cccccc;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rzBiyjNprc input::-webkit-input-placeholder,
.cid-rzBiyjNprc textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.cid-rzBiyjNprc input:-moz-placeholder,
.cid-rzBiyjNprc textarea:-moz-placeholder {
  color: #cccccc;
}
.cid-rzBiyjNprc .jq-selectbox li,
.cid-rzBiyjNprc .jq-selectbox li {
  background-color: #333333;
  color: #ffffff;
}
.cid-rzBiyjNprc .jq-selectbox li:hover,
.cid-rzBiyjNprc .jq-selectbox li.selected {
  background-color: #333333;
  color: #ffffff;
}
.cid-rzBiyjNprc .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #333333;
}
.cid-rzBiyjNprc .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #333333;
}
.cid-rzBiyjNprc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rzBiyjNprc .mbr-form {
  max-width: 450px;
}
.cid-rzBiyjNprc textarea {
  min-height: 150px;
}
.cid-rzBiyjNprc .mbr-text {
  color: #cccccc;
}
.cid-rzBiyjNprc .mbr-form .btn {
  width: 100%;
}
.cid-rzBiyjNprc .mbr-form .btn .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-rzBjcFQyqz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efeeee;
}
.cid-rzBjcFQyqz [class^="socicon-"]:before,
.cid-rzBjcFQyqz [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rzBjcFQyqz .social-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.cid-rzBjcFQyqz .btn-social,
.cid-rzBjcFQyqz .mbr-section-title {
  color: #57468b;
}
.cid-rzBjcFQyqz .soc-item {
  width: 45px;
  height: 45px;
  background: #efeeee;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.3rem;
}
.cid-rzBjcFQyqz .soc-item span {
  font-size: 1.6rem;
  color: #c1c1c1 !important;
  transition: all 0.3s;
}
.cid-rzBjcFQyqz .soc-item:hover span {
  color: #767676 !important;
}
@media (max-width: 992px) {
  .cid-rzBjcFQyqz .align-left {
    text-align: center;
  }
  .cid-rzBjcFQyqz .align-right {
    text-align: center;
  }
  .cid-rzBjcFQyqz .social-list {
    justify-content: center;
  }
  .cid-rzBjcFQyqz .mb-0 {
    padding-bottom: 1rem;
  }
}
